/* 
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--wght-text);
  background-image: var(--horizon-linear-gradient), var(--vertical-linear-gradient), var(--linear-gradient);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--main-color); 
}

.header {
  inline-size: min(100%, 700px);
  margin-block-start: 100px;
  margin-block-end: 100px;
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  font-family: var(--accent-font), fantasy;
  border: 2px solid var(--main-color);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.header__logo {
  margin-block-start: 120px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  font-size: 49px;
  line-height: 1;
  justify-self: center;
}

.header__title {
  font-size: 14px;
  line-height: 1;
  justify-self: center;
  text-transform: uppercase;
}

.theme-menu {
  justify-self: center;
  margin-block-start: 5px;
  margin-block-end: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
}

.theme-menu__item {
  padding-inline-start: 16px;
}

.theme-menu__button {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-transform: uppercase;
  border: none;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 1;
  background-color: var(--bg-color);
  padding: 0;
  cursor: pointer;
  position: relative;
  transition: opacity .3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: .6;
}

.theme-menu__button:hover {
  opacity: .6;
}

.theme-menu__button::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  opacity: .6;
  background-color: var(--main-color);
  margin-top: 13px;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 1;
  transition: transform .3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: .6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: 0;
  animation: arrow .5s ease-in-out infinite alternate;
}

.main {
  inline-size: min(100%, 700px);
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: grid;
  justify-content: center;
}

.cards {
  inline-size: min(100%, 700px);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__item {
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.article {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
}

.article__title {
  font-variation-settings: 'wght' var(--wght-title);
  padding: 4px 10px 2px;
  line-height: 1.21;
  font-size: var(--font-sise-article);
}

.article__image-container {
  width: 100%;
  position: relative;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  margin-block-end: 27px;
}

.article__image {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-position: center;
  object-fit: cover;
}

.article__image_brightness {
  filter: brightness(150%);
}

.article__image_contrast {
  filter: contrast(40%);
}

.article__image_blur {
  filter: blur(.4rem);
}

.article__image_opacity {
  filter: opacity(.4);
}

.article__image_grayscale {
  filter: grayscale(.9);
}

.article__image_saturate {
  filter: saturate(157%);
}

.article__image_hue-rotate {
  filter: hue-rotate(-90deg);
}

.article__image_filter {
  filter: sepia(1) contrast(2) brightness(200%);
}

.article__text-decoration {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 13px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 1;
  mix-blend-mode: hard-light;
  opacity: .5;
  text-shadow:
    -1px 0 var(--color-text-decoration), 
    0 1px var(--color-text-decoration), 
    1px 0 var(--color-text-decoration), 
    0 -1px var(--color-text-decoration);
}

@supports((text-stroke: 1px ) or (-webkit-text-stroke: 1px var(--color-text-decoration))) {
  .article__text-decoration {
      -webkit-text-stroke: 1px var(--color-text-decoration);
      text-stroke: 1px var(--color-text-decoration);
      text-shadow: none;
  }
}

.article__text {
  font-size: var(--font-sise-article);
  max-width: 100%;
  line-height: 1.17;
  margin-inline-start: 25px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.button {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: .9;
  background-color: var(--bg-color);
  color: var(--accent-color-btn);
  border: 2px solid var(--main-color);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000000;
  transition: box-shadow .3s ease;
}

.button::after {
  position: absolute;
  content: "";
  background-color: var(--accent-color-btn);
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1;
  transform: translateX(-100%);
}

.button:not(.dialog__button):hover::after {
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  transform: translate(0);
  transition: transform .5s ease-in-out;
}

.card__btn-container {
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.button__text {
  mix-blend-mode: difference;
}

.card__like-button {
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}

.card__icon-button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  height: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
  transition: border .3s ease;
}

.like-icon {
  fill: transparent;
}

.contour {
  fill: var(--main-color);
  transition: fill .1s linear;
}

.core {
  transition: fill .3s linear .03s;
}

.main-body {
  transition: fill .3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: fill .3s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: fill .3s linear .05s;
}

.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill .3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition: fill .3s linear .05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill .3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill .3s linear .05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill .3s linear .06s;
}

.like-icon.is-liked .heart {
  animation: heart .3s ease-in .1s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
}

.like-icon.is-liked .sparks {
  animation: sparks .3s ease-in .3s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
}

.footer {
  width: min(100%, 700px);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.footer__button {
  margin: 52px 34.5px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 306px;
}

.floppy-icon {
  width: 28px;
  height: 28px;
  align-self: center;
  justify-self: center;
  margin-top: 15px;
  margin-bottom: 8px;
  mix-blend-mode: difference;
}

.footer__button .button__text {
  padding-bottom: 15px;
  padding-top: 0;
  /* margin-left: 19.5px; */
  /* padding-right: 20.5px; */
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.dialog[open] {
  width: 341px;
  padding: 0;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);

  padding-inline-start: 40px;
  padding-inline-end: 40px;
  padding-block-start: 30px;
  padding-block-end: 30px;

  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  row-gap: 30px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  color: var(--main-color);
}

.dialog::backdrop {
  display: block;
  background-color: rgb(0 0 0 / 0.75);
}

.dialog .floppy-icon {
  width: 39px;
  height: 39px;
  margin-block-start: 12px;
  margin-block-end: 12px;
  mix-blend-mode: normal;
}

.dialog__button {
  grid-column: 1/3;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  mix-blend-mode: normal;
}

.dialog__signature {
  line-height: 1.5;
  text-transform: uppercase;
}

@media (width > 376px) {
  .header__logo {
    margin-block-start: 136px;
    font-size: 65px;
  }

  .header__title {
    font-size: 23px;
  }

  .footer__button {
    flex-direction: row;
    margin-block-start: 50px;
    margin-inline-start: 25.714%;
    margin-inline-end: 25.714%;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 435px;
  }

  .floppy-icon {
    width: 21px;
    height: 21px;
    margin: 15px 8px 15px 19px;
  }

  .footer__button .button__text {
    padding: 0;
    margin-inline-end: 21px;
  }
}