/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-font: PressStart2P;
    --main-font: Inter;
    --wght-title: 700;
    --wght-text: 400;
    --bg-image: url("../images/background.png");
    --horizon-linear-gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px);
    --vertical-linear-gradient: repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px);
    --linear-gradient: linear-gradient(#E7E7E7 0%, #E7E7E7 .1%, #1A1A1A 100%);
    --main-color: #000000;
    --bg-color: #FFFFFF;
    --heart-color: #FF0000;
    --font-sise-article: 18px;
    --color-text-decoration: #FFFFFF;
}
